:host >>> img {
  padding: 4px;
  width: 56px;
  height: 56px;
}

div {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

:host >>> label {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div:hover {
  background-color: #eeeeee;
}

:host div:hover >>> img,
:host div:hover >>> label {
  zoom: 1.1;
}
